/* Utility Classes */
.container {
  margin: auto;
  max-width: 1600px;
}

/* Heading */
.section-heading {
  margin-bottom: 4rem;
  font-size: 3.25rem;
  padding-left: 0.75rem;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 12px;
}

/* Navbar */

#navbar {
  padding: 0.5rem 2.5rem;
}

#navbar .social-media-nav i {
  margin-top: 0.1rem;
  margin-right: 1.5rem;
  height: 26px;
}

#navbar ul {
  margin-right: 0rem;
}

#navbar .logo {
  height: 34px;
}

#navbar ul li a {
  font-size: 0.9rem;
  padding: 0.5rem 0.4rem;
  margin: 0 1.6rem;
}

/* Showcase Area */
#showcase .background {
  height: 100%;
}

#showcase .blue-triangle-1 {
  width: 8.2%;
  top: 7.9%;
  left: 45.56%;
}
#showcase .blue-triangle-2 {
  width: 4.7%;
  top: 27.8%;
  left: 51%;
}
#showcase .blue-triangle-3 {
  width: 7.07%;
  top: 20.85%;
  left: 79%;
}
#showcase .yellow-square-1 {
  width: 7.09%;
  top: 15.88%;
  left: 63.16%;
}
#showcase .yellow-square-2 {
  width: 4.375%;
  top: 10.44%;
  left: 73.5%;
}
#showcase .green-circle-1 {
  width: 15.625%;
  top: 70.03%;
  left: -10.5%;
}
#showcase .green-circle-2 {
  width: 13.95%;
  top: -13%;
  left: 86.16%;
}
#showcase .red-square-1 {
  width: 10.45%;
  top: 80.7%;
  left: 28.33%;
}
#showcase .purple-circles-1 {
  width: 9.38%;
  top: 64.44%;
  left: 47.5%;
}
#showcase .pink-circles-1 {
  width: 12.05%;
  left: -8.33%;
  top: -4.4%;
}
#showcase .portfolio-svg {
  width: 30.83%;
  top: 44.667%;
  left: 62%;
}
/* Shapes end */

#showcase .portfolio-svg {
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

#showcase .showcase-content {
  padding: 9rem 5rem;
}

#showcase .greet,
#showcase .designation {
  margin-top: 1rem;
  font-size: 2.2rem;
  line-height: 4rem;
}

#showcase .l-heading {
  line-height: 8rem;
  font-size: 6.5rem;
}

/* Mouse */

.middle {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse {
  width: 25px;
  height: 45px;
  border: 2px solid var(--text-gray);
  border-radius: 25px;
}

.mouse::before {
  content: "";
  height: 6.25px;
  width: 6.25px;
  position: absolute;
  top: 4px;
  background: var(--text-gray);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 6px;
  }

  to {
    opacity: 0;
    top: 33px;
  }
}

.mouse-text {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: pop-reg;
  color: #aaa;
  font-weight: bold;
  font-size: 0.9rem;
}

/* latest project section */

#lat-projects .project-1 {
  margin: 6rem 10rem 3rem 3rem;
  height: 25rem;
  width: 71.875rem;
  border-radius: 1.875rem;
}
#lat-projects .project-2 {
  margin: 6rem 0rem 3rem 15rem;
  height: 25rem;
  width: 71.875rem;
  border-radius: 1.875rem;
}
#lat-projects .project-3 {
  margin: 6rem 9rem 3rem 3rem;
  height: 25rem;
  width: 71.875rem;
  border-radius: 1.875rem;
}

#lat-projects .project-1 .project-info {
  margin: 3.75rem 6.25rem 3.125rem 4.375rem;
}

#lat-projects .project-2 .project-info {
  margin: 3.75rem 4.375rem 3.125rem 6.25rem;
}

#lat-projects .project-3 .project-info {
  margin: 3.75rem 6.25rem 3.125rem 4.375rem;
}

#lat-projects .project-1 .pro-title,
#lat-projects .project-2 .pro-title,
#lat-projects .project-3 .pro-title {
  font-size: 1.875rem;
}

#lat-projects .project-1 .pro-detail,
#lat-projects .project-2 .pro-detail,
#lat-projects .project-3 .pro-detail {
  font-size: 1rem;
}

#lat-projects .project-1 .project-info .project-type {
  padding: 0.5rem;
  width: 40px;
}

#lat-projects .project-2 .project-info .project-type {
  padding: 0.4rem;
  width: 40px;
}

#lat-projects .project-3 .project-info .project-type {
  padding: 0.5rem;
  width: 2.5rem;
}

#lat-projects .project-1 .project-btn,
#lat-projects .project-2 .project-btn,
#lat-projects .project-3 .project-btn {
  margin: 2.5rem 1.25rem;
  font-family: gotham;
  font-size: 0.75rem;
}

#lat-projects .project-1 .project-img img,
#lat-projects .project-3 .project-img img {
  width: 24.375rem;
  margin-top: 3.4375rem;
  margin-right: 3.125rem;
}

#lat-projects .project-2 .project-img img {
  width: 22.5rem;
  margin-top: 3.4375rem;
  margin-left: 3.125rem;
}

#lat-projects .work {
  margin-top: 4rem;
}
/* Recent projects End */

/* About Me Section */

#about-me {
  padding: 6rem 0 6rem 0;
}

#about-me .about-content {
  margin: 5rem 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

#about-me .about-content .about-tagline {
  margin-top: 5rem;
  font-size: 6.65rem;
  font-family: DMS;
  line-height: 9rem;
}

#about-me .about-content .about .about-title {
  font-size: 5.2rem;
}

#about-me .about-content .about .about-body {
  font-size: 1.35rem;
}

/* about section end */
