@font-face {
  src: url("../assets/fonts/Atami-Bold.otf");
  font-family: atami;
}
@font-face {
  src: url("../assets/fonts/DMSans-Medium.ttf");
  font-family: DMS;
}
@font-face {
  src: url("../assets/fonts/DMSans-Regular.ttf");
  font-family: DMSreg;
}
@font-face {
  src: url("../assets/fonts/Futura\ Bold.ttf");
  font-family: futura;
}

:root {
  --accent-color: #f85c81;
  --secondary-color: #525260;
  --Bold-one: #27272e;
  --shadow-nav: rgba(137, 129, 129, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1920px;
}

.box-2 {
  position: relative;
  transition-property: transform;
  transition-duration: 0.2s;
}

.box-2:hover {
  transform: translate(0, -4px);
}

/* Navbar */

#navbar {
  background: #fff;
  z-index: 10;
  box-shadow: 0 0.25rem 1rem var(--shadow-nav);
  position: sticky;
  top: 0;
}

#navbar .container {
  display: flex;
  font-family: atami;
  justify-content: space-between;
  padding: 0.85rem 3rem;
}

#navbar ul {
  display: flex;
  justify-items: end;
  align-items: center;
  list-style: none;
}

#navbar ul li,
a {
  text-decoration: none;
}

#navbar a {
  font-size: 1.25rem;
  padding: 0.6rem 0.5rem;
}

#navbar ul li a {
  color: var(--secondary-color);
  margin: 0 2.25rem;
}

#navbar .container ul li a.active {
  color: var(--accent-color);
  border-bottom: 0.2rem #f85c81 solid;
}

#navbar ul li a:hover {
  color: var(--accent-color);
}

/* Showcase Area */
#showcase {
  overflow-x: hidden;
  height: 100vh;
}
#showcase .background {
  position: relative;
}

/* Shapes Start*/
#showcase .blue-triangle-1 {
  position: absolute;
  top: 9rem;
  left: 70rem;
}
#showcase .blue-triangle-2 {
  position: absolute;
  top: 21rem;
  left: 74rem;
}
#showcase .blue-triangle-3 {
  position: absolute;
  top: 16rem;
  left: 98rem;
}
#showcase .yellow-square-1 {
  position: absolute;
  top: 13rem;
  left: 85rem;
}
#showcase .yellow-square-2 {
  position: absolute;
  top: 9rem;
  left: 100rem;
}
#showcase .green-circle-1 {
  position: absolute;
  top: 40rem;
  left: -11rem;
}
#showcase .green-circle-2 {
  position: absolute;
  top: 3rem;
  left: 110rem;
}
#showcase .red-square-1 {
  position: absolute;
  top: 25rem;
  left: 111rem;
}
#showcase .purple-circles-1 {
  position: absolute;
  top: 38rem;
  left: 63rem;
}
#showcase .pink-circles-1 {
  position: absolute;
  top: 3rem;
  left: -9rem;
}
#showcase .portfolio-svg {
  position: absolute;
  width: 37rem;
  top: 27rem;
  left: 75rem;
}
/* Shapes end */

#showcase .showcase-content {
  padding: 9rem 8rem;
}

#showcase .greet,
#showcase .designation {
  font-family: DMSreg;
  font-size: 3.5rem;
  color: var(--secondary-color);
}
#showcase .designation {
  line-height: 5rem;
  text-decoration: underline;
}

#showcase .greet span {
  color: var(--accent-color);
}

#showcase .l-heading {
  font-family: futura;
  line-height: 10rem;
  font-size: 7.5rem;
  color: var(--Bold-one);
}

#showcase .social-media {
  margin-top: 2.25rem;
}

#showcase .social-media div {
  display: inline-block;
}

#showcase .social-media img {
  margin-right: 2.25rem;
}
