* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* Preloader */

#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: #fff;
  top: 0;
  left: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Preloader End */

@font-face {
  src: url("../assets/fonts/Atami-Bold.otf");
  font-family: atami;
}
@font-face {
  src: url("../assets/fonts/DMSans-Medium.ttf");
  font-family: DMS;
}
@font-face {
  src: url("../assets/fonts/DMSans-Regular.ttf");
  font-family: DMSreg;
}
@font-face {
  src: url("../assets/fonts/FuturaBold.ttf");
  font-family: futura;
}
@font-face {
  src: url("../assets/fonts/GothamBold.ttf");
  font-family: gotham;
}
@font-face {
  src: url("../assets/fonts/BrandonGrotesque-Black.ttf");
  font-family: brand;
}
@font-face {
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-family: pop-reg;
}

:root {
  --accent-color: #f85c81;
  --purple-color: #6c63ff;
  --yellow-color: #ffdc60;
  --orange-color: #fe6d3f;
  --gray-color: #ecf2f6;
  --text-gray: #999fae;
  --light-pink: #fab8c4;
  --secondary-color: #525260;
  --royal-blue-color: #5956e9;
  --Bold-one: #27272e;
  --shadow-nav: rgba(137, 129, 129, 0.2);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1920px;
}

.box-2,
.box-1 {
  position: relative;
  transition-property: transform;
  transition-duration: 0.2s;
}

.box-2:hover {
  transform: translate(0, -4px);
}
.box-1:hover {
  transform: translate(0, -1px);
  text-decoration: underline;
}

/* display classes */
.d-flex {
  display: flex;
}

/* Color classes */
.accent-color {
  color: var(--accent-color);
}

.purple {
  color: var(--purple-color);
}
.yellow {
  color: var(--yellow-color);
}
.orange {
  color: var(--orange-color);
}
.light-pink {
  color: var(--light-pink);
}
.royal-blue {
  color: var(--royal-blue-color);
}

.button {
  margin: 8rem auto;
  padding: 1rem 3rem;
  font-family: brand;
  font-size: 24px;
  border-radius: 32px;
}

/* Heading */
.section-heading {
  margin-bottom: 6rem;
  font-family: futura;
  font-size: 3.5rem;
  padding-left: 12px;
  border-left: 8px solid var(--accent-color);
}

.underline-accent {
  text-decoration: underline;
  text-decoration-color: var(--royal-blue-color);
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  /* background: linear-gradient(#a18cd1, #fc9ae0); */
  background: var(--accent-color);
  border-radius: 6px;
}

/* padding And Margin*/
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.center {
  text-align: center;
}

.text-big {
  font-size: 64px;
}

.text-regular {
  font-size: 32px;
}

.horizontal {
  border: 1px solid var(--gray-color);
}

.thick {
  border: 3px solid var(--gray-color);
  margin: 0 2rem;
}

.dark {
  border: 1px solid #ddd;
}

#showcase .fa-chevron-down {
  color: #fff;
  background: #272727;
  padding: 1rem;
  border-radius: 50%;
  margin-top: 5rem;
  border: none;
}

#showcase .fa-chevron-down:hover {
  background: white;
  border-radius: 50%;
  border: 2px solid #272727;
  color: #272727;
}

/* Navbar */

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  height: 7vh;
  z-index: 10;
  background: #fff;
  box-shadow: 0 0.1rem 1rem var(--shadow-nav);
  font-family: atami;
  align-items: center;
  justify-content: space-between;
  padding: 0.85rem 3rem;
}

#navbar .social-media-nav div {
  position: relative;
  left: 60%;
  display: inline-block;
  justify-content: center;
}

#navbar .social-media-nav img {
  margin-top: 0.2rem;
  margin-right: 2.25rem;
  height: 36px;
}

#navbar ul {
  display: flex;
  justify-items: end;
  align-items: center;
  list-style: none;
}

#navbar .index {
  display: none;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#navbar .logo a {
  display: inline-block;
}
#navbar .logo {
  height: 40px;
}

#navbar ul li a {
  font-size: 1.1rem;
  padding: 12px 0.5rem;
  color: var(--text-gray);
  margin: 0 2rem;
}

#navbar ul li a.active {
  color: #000;
  border-bottom: 0.2rem #f85c81 solid;
}

#navbar ul li a:hover {
  color: #000;
  border-bottom: 0.2rem #f85c81 solid;
}

/* Showcase Area */
#showcase {
  height: 93vh;
  overflow: hidden;
  /* background: var(--gray-color); */
}
#showcase .background {
  position: absolute;
  width: 100%;
}

/* Shapes Start*/
#showcase .blue-triangle-1 {
  position: relative;
  top: 5rem;
  left: 60rem;
  /* animation: triangle 20s infinite linear;
  transform-origin: center;
  transform-box: fill-box; */
}

/* @keyframes triangle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
} */

#showcase .blue-triangle-2 {
  position: absolute;
  top: 21rem;
  left: 64rem;
}
#showcase .blue-triangle-3 {
  position: absolute;
  top: 16rem;
  left: 100rem;
}
#showcase .yellow-square-1 {
  position: absolute;
  top: 13rem;
  left: 79rem;
}
#showcase .yellow-square-2 {
  position: absolute;
  top: 9rem;
  left: 95rem;
}
#showcase .green-circle-1 {
  position: absolute;
  top: 46rem;
  left: -8rem;
}
#showcase .green-circle-2 {
  position: absolute;
  top: -10rem;
  left: 100rem;
}
#showcase .red-square-1 {
  position: absolute;
  top: 51rem;
  left: 30rem;
}
#showcase .purple-circles-1 {
  position: absolute;
  top: 38rem;
  left: 53rem;
}
#showcase .pink-circles-1 {
  position: absolute;
  top: 3rem;
  left: -9rem;
}
#showcase .portfolio-svg {
  position: absolute;
  width: 37rem;
  top: 27rem;
  left: 75rem;
}

/* Shapes end */

#showcase .showcase-content {
  padding: 10rem 8rem;
}

#showcase .greet,
#showcase .designation {
  font-family: DMSreg;
  font-size: 3.5rem;
  color: var(--secondary-color);
}
#showcase .designation {
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 5rem;
  /* text-decoration: underline; */
}

#showcase .l-heading {
  font-family: futura;
  line-height: 10rem;
  font-size: 8rem;
  color: var(--Bold-one);
}

/* #showcase h1 span {
  transition: all 0.4s ease;
}

#showcase h1 span.fade {
  color: var(--Bold-one);
} */

#showcase .social-media {
  margin-top: 2.25rem;
}

#showcase .social-media div {
  display: inline-block;
}

#showcase .social-media img {
  margin-right: 2.25rem;
}

/* latest project section */

#lat-projects {
  margin-top: 5rem;
  padding-top: 5rem;
  background: var(--gray-color);
}

#lat-projects .project-triangle {
  z-index: -200;
  height: 180vh;
  background: url("../assets/svgs/Asset\ 3.svg") center center/cover no-repeat;
  background-position: -700px 50px;
  background-blend-mode: overlay;
}

#lat-projects .recent {
  margin-left: auto;
  margin-right: 80px;
}

#lat-projects .project-1 {
  display: flex;
  background: #fcf8f5;
  margin: 6rem 9rem 3rem 4rem;
  height: 500px;
  width: 1450px;
  border-radius: 35px;
  box-shadow: 0 0.25rem 1rem var(--shadow-nav);
}

#lat-projects .project-2 {
  display: flex;
  background: #f5f9fa;
  margin: 6rem 2rem 3rem 25rem;
  height: 500px;
  width: 1450px;
  border-radius: 35px;
  box-shadow: 0 0.25rem 1rem var(--shadow-nav);
}
#lat-projects .project-3 {
  display: flex;
  background: #f7f9ff;
  margin: 6rem 9rem 3rem 4rem;
  height: 500px;
  width: 1450px;
  border-radius: 35px;
  box-shadow: 0 0.25rem 1rem var(--shadow-nav);
  /* justify-content: space-between; */
}

#lat-projects .project-1 .project-info {
  margin: 70px 125px 70px 112px;
}

#lat-projects .project-2 .project-info {
  margin: 70px 112px 70px 112px;
}

#lat-projects .project-3 .project-info {
  margin: 70px 90px 70px 112px;
}

#lat-projects .project-1 a,
#lat-projects .project-2 a,
#lat-projects .project-3 a {
  text-decoration: none;
}

#lat-projects .project-1 .pro-title,
#lat-projects .project-2 .pro-title,
#lat-projects .project-3 .pro-title {
  font-family: futura;
  font-size: 40px;
  padding-left: 11px;
  margin: 1rem 0;
  color: #000;
}

#lat-projects .project-1 .left-border {
  border-left: 8px solid #ffdc60;
}
#lat-projects .project-2 .left-border {
  border-left: 8px solid #72ddfd;
}
#lat-projects .project-3 .left-border {
  border-left: 8px solid #9690fb;
}

#lat-projects .project-1 .pro-detail,
#lat-projects .project-2 .pro-detail,
#lat-projects .project-3 .pro-detail {
  margin-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: var(--text-gray);
}

#lat-projects .project-1 .project-info .project-type {
  margin-left: 20px;
  background: #f9daaf;
  padding: 1rem;
  border-radius: 50%;
}

#lat-projects .project-2 .project-info .project-type {
  margin-left: 20px;
  background: #d8f2fa;
  padding: 0.5rem;
  border-radius: 50%;
}

#lat-projects .project-3 .project-info .project-type {
  margin-left: 20px;
  background: #d6e1ff;
  padding: 1rem;
  border-radius: 50%;
}

#lat-projects .project-1 .project-btn,
#lat-projects .project-2 .project-btn,
#lat-projects .project-3 .project-btn {
  margin: 56px 20px;
  font-family: gotham;
  font-size: 16px;
}

#lat-projects .project-1 .project-btn .h-change:hover,
#lat-projects .project-2 .project-btn .h-change:hover,
#lat-projects .project-3 .project-btn .h-change:hover {
  color: var(--secondary-color);
}

#lat-projects .project-1 .project-img img,
#lat-projects .project-3 .project-img img {
  width: 490px;
  margin-top: 66px;
  margin-right: 112px;
}

#lat-projects .project-2 .project-img img {
  width: 465px;
  margin-top: 66px;
  margin-left: 112px;
}

#lat-projects .work {
  margin-top: 320px;
  display: inline-block;
  text-align: center;
  color: white;
  background: #3c3838;
  align-items: center;
}

#lat-projects .work:hover {
  background: white;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* Recent projects End */

/* About Me Section */

#about-me {
  /* margin: auto 0 auto 0; */
  padding: 6rem 0 4rem 0;
}

#about-me .about-content {
  margin: 5rem 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

#about-me .about-content .about-tagline {
  font-size: 140px;
  font-family: DMS;
  line-height: 10rem;
}

#about-me .about-content .about .about-title {
  font-size: 5.25rem;
  font-family: gotham;
  margin-bottom: 1rem;
}

#about-me .about-content .about .about-title .underscore {
  font-size: 7rem;
  color: var(--royal-blue-color);
}

#about-me .about-content .about .about-body .big-font {
  color: var(--royal-blue-color);
}

#about-me .about-content .about .about-body {
  margin-top: 2rem;
  color: var(--text-gray);
  font-family: pop-reg;
  font-size: 1.5rem;
}

#about-me .about-content .about .about-body .open-line,
#about-me .about-content .about .about-body .main-content,
#about-me .about-content .about .about-body .end-line {
  margin: 1rem 0;
}

/* about section end */

/* Contact section start */

#contact {
  padding-top: 8rem;
}

.contact-background {
  margin-left: 4rem;
}

#contact .contact-content {
  display: grid;
  grid-template-columns: 45% 55%;
}

#contact .email-svg {
  margin-left: 8rem;
  height: 400px;
}

#contact .email-content {
  /* background: var(--gray-color); */
  margin-right: 4rem;
  padding: 2rem;
  border-radius: 20px;
  /* box-shadow: 0 0.2rem 0.5rem #ddd; */
}

#contact .email-content .email-title {
  font-family: futura;
  font-size: 3rem;
  margin: 4rem 0 0 0;
  text-decoration: underline;
}

#contact .email-content .email {
  display: inline-block;
  font-family: futura;
  margin-top: 3rem;
  font-size: 2.5rem;
}

#contact .email-content .email:hover {
  text-decoration: underline;
}

#contact .email-content .accent-color {
  font-family: futura;
  font-size: 3rem;
}

/* footer */

#footer {
  background: var(--gray-color);
  color: var(--text-gray);
  font-family: DMS;
  font-size: 1.2rem;
  padding: 1.5rem;
  margin-top: 10rem;
}

#footer .copyright {
  text-align: center;
}

#footer .footer-logo {
  margin-top: 0.2rem;
}

/* MY WORK  */

#my-work .showcase-content {
  margin: 5rem 3rem;
}

#my-work .showcase-content .l-heading {
  font-family: futura;
  line-height: 10rem;
  font-size: 8rem;
  color: var(--Bold-one);
  text-align: center;
}

/* Cards */

#cards-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards {
  margin: 4rem 10rem;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 6rem;
}

#cards .card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "links";

  font-family: DMS;
  border-radius: 18px;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(201, 201, 201, 0.9);
  text-align: center;

  transition: 0.5s ease;
  /* cursor: pointer; */
}

.card-image {
  grid-area: image;
  background: url("../img/projects/backiee-1.jpg") center center/cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text .date {
  color: var(--accent-color);
  font-size: 13px;
}

.card-text p {
  color: var(--text-gray);
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size-adjust: 28px;
}

.card-links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--gray-color);
}

.card-links .link a {
  text-decoration: none;
  color: var(--Bold-one);
}

.card-links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.card-links .link .github-link {
  font-size: 16px;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(201, 201, 201, 0.6);
}
