/* Navbar */
#navbar {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 9vh;
}

#navbar .logo {
  height: 30px;
  margin: 0.3rem auto;
}

#navbar ul {
  margin: 0.4rem auto 0rem auto;
}

#navbar ul li a {
  font-size: 1rem;
  padding: 6px;
  margin: 0 0.5rem;
}

#navbar .social-media-nav {
  top: 1.5vh;
  right: 3.5rem;
  position: absolute;
  margin: 0.1rem auto 0rem auto;
}

#navbar .social-media-nav i {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}

#navbar i {
  font-size: 1.25rem;
}

#showcase {
  height: 91vh;
  overflow: hidden;
}

#showcase .showcase-content {
  padding: 10rem 2rem 14rem 2rem;
}

#showcase .background {
  display: block;
}

#showcase .blue-triangle-1 {
  width: 22.2%;
  top: 49.9%;
  left: -7.56%;
}
#showcase .blue-triangle-2 {
  width: 10.7%;
  top: 10.8%;
  left: 23%;
}
#showcase .blue-triangle-3 {
  width: 15.07%;
  top: 20.85%;
  left: 79%;
}
#showcase .yellow-square-1 {
  width: 16.09%;
  top: 56.88%;
  left: 42.16%;
}
#showcase .yellow-square-2 {
  width: 12.375%;
  top: 7.44%;
  left: 63.5%;
}
#showcase .green-circle-1 {
  width: 40.625%;
  top: 70.03%;
  left: -22.5%;
}
#showcase .green-circle-2 {
  width: 20.95%;
  top: -7%;
  left: 75.16%;
}
#showcase .red-square-1 {
  width: 22.45%;
  top: 80.7%;
  left: 70.33%;
}
#showcase .purple-circles-1 {
  width: 29.38%;
  top: 49.44%;
  left: 72.5%;
}
#showcase .pink-circles-1 {
  width: 22.05%;
  left: -12.33%;
  top: -3.4%;
}
#showcase .portfolio-svg {
  display: none;
}

#showcase .showcase-content {
  padding: 10rem 2rem;
  margin: 2rem 0;
}

#showcase .greet,
#showcase .designation {
  font-size: 1.25rem;
  line-height: 0.5rem;
}
#showcase .designation {
  margin-top: 0.5rem;
}

#showcase .social-media {
  margin-top: 2rem;
}

#showcase .l-heading {
  font-size: 4rem;
}

#lat-projects .project-triangle {
  height: 220vh;
}

#lat-projects {
  margin-top: 5rem;
  padding-top: 7rem;
}

#lat-projects .recent {
  margin: 4rem auto;
}

#lat-projects .project-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  margin: 3rem auto;
  width: 400px;
  height: 600px;
  border-radius: 15px;
}

#lat-projects .project-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  margin: 3rem auto;
  width: 400px;
  height: 600px;
  border-radius: 15px;
}

#lat-projects .project-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  margin: 3rem auto;
  width: 400px;
  height: 600px;
  border-radius: 15px;
}

.project-1 div:nth-of-type(2),
.project-3 div:nth-of-type(2) {
  order: 1;
}
.project-1 div:nth-of-type(1),
.project-3 div:nth-of-type(1) {
  order: 2;
}

#lat-projects .project-1 .project-info,
#lat-projects .project-2 .project-info,
#lat-projects .project-3 .project-info {
  margin: 1rem;
}

#lat-projects .project-1 .pro-title,
#lat-projects .project-2 .pro-title,
#lat-projects .project-3 .pro-title {
  font-size: 1.5rem;
  padding-left: 11px;
  margin: 1rem 1.2rem;
}

#lat-projects .project-1 .left-border {
  border-left: 6px solid #ffdc60;
}
#lat-projects .project-2 .left-border {
  border-left: 6px solid #72ddfd;
}
#lat-projects .project-3 .left-border {
  border-left: 6spx solid #9690fb;
}

#lat-projects .project-1 .pro-detail,
#lat-projects .project-2 .pro-detail,
#lat-projects .project-3 .pro-detail {
  margin-left: 1rem;
  font-size: 1rem;
}

.project-type {
  display: none;
}

#lat-projects .project-1 .project-btn,
#lat-projects .project-2 .project-btn,
#lat-projects .project-3 .project-btn {
  margin: 2.25rem 1.25rem;
  font-size: 0.875rem;
}

#lat-projects .project-1 .project-img img,
#lat-projects .project-3 .project-img img {
  margin: 1.5625rem 3.125rem 0.625rem 3.125rem;
  width: 18.75rem;
}

#lat-projects .project-2 .project-img img {
  margin: 1.5625rem 3.125rem 0.625rem 3.125rem;
  width: 18.75rem;
}

#lat-projects .work {
  margin-top: 6rem;
}

/* About */

#about-me {
  padding: 8rem 1rem;
}

#about-me .about-content {
  display: block;
}

#about-me .about-tagline {
  display: none;
}

#about-me .about-content .about .about-title {
  font-size: 5rem;
}

#about-me .about-content .about .about-title .underscore {
  font-size: 6rem;
}

#about-me .about-content .about .about-body {
  margin-top: 1.6rem;
  font-size: 1.3rem;
}

#contact {
  padding: 11rem 0;
}

.contact-background {
  margin-left: 1rem;
}

#contact .email-svg {
  display: none;
}

#contact .email-content .email-title {
  font-size: 2.5rem;
  margin: 2rem 0 0 0;
}

#contact .email-content .email {
  margin-top: 2rem;
  font-size: 1.6rem;
}

#contact .email-content .accent-color {
  display: none;
}

#contact .email-content {
  margin-right: 1rem;
  padding: 2rem;
}

#footer .footer-logo {
  margin-top: 0.1rem;
}

/* MY WORK */

#my-work .showcase-content {
  margin: 3rem 1rem;
}

#my-work .showcase-content .l-heading {
  line-height: 10rem;
  font-size: 6rem;
  color: var(--Bold-one);
  text-align: center;
}

/* Cards */

#cards {
  margin: 4rem 1rem;
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 5rem;
}
